/* Section: Multiple Pages */
body{
   min-width:480px;
   min-height:300px;
}

@media screen and (max-width:480px) {  
  #db_logo {
    display: none;
  }
  #form-input{
    margin-left: 0px;
  }
}

@font-face {
  font-family: 'London-Tube';
  src: url('../fonts/London-Tube.ttf');
  src: local('London-Tube.ttf')
}

h2{
    font-size: 18px;
    font-family: 'London-Tube';
}

h3{
	font-family: 'London-Tube';
}
h3{
	font-family: 'London-Tube';
}

p{
	font-family: 'London-Tube';
}

#map{
    height: 400px;
    width: 300%
}


.my-map-div{
    margin-top: 50px;
}

/* Multiple Pages - FontPalace, 2016  */
@font-face {
    font-family: VolvoBroad;
    src: url(VolvoBroad.ttf);
}

/* Multiple Pages - Navigation bar. */
.navbar-fixed-top{
    width: 100%;
    background-color: #FFD527;
    color: white;
}

.navbar-nav {
    width: 100%;
    height: 65px;
    background-color: #FFD527;
    position: absolute;
    display: block;
}

.navbar-nav > li {
    float: none;
    display: inline-block;
}

.navbar-nav > li.navbar-right {
    float: right !important;
    margin-right: 30px;
}

.glyphicon-menu-hamburger {
  color: white;
}

.custom-white {
    color:#fff;
    font-size: 30px;
}

.nav>li>a.custom-white:hover .glyphicon, 
.nav>li>a.custom-white:active .glyphicon,
.nav>li>a.custom-white:focus .glyphicon{
    color: rgba(0,0,0,0.4);
}




/* Multiple Pages - Navigation Bar - Changes the colour when you hover over in Responsive mode */
.navbar-toggle {
    float: left;
    z-index:3;
    color: white;
    border: none;
}

.navbar-toggle: hover{
    z-index:3;
    background-color: white;
}




/* Multiple Pages - Logo for Dublin Bus*/
#db_logo{
    margin-top: 10px;
    width: 160px;
    height: 40px;
}




/* Multiple Pages - Logo for Hamburger Menu Icon*/
#menu_hb{
    width: 35px;
    height: 35px;
}




/* Multiple Pages - Side Navigation Bar */
.sidenav {
    margin-top: 60px;
    height: 100%;
    margin-top: -3;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 0;
    left: 0;
    background-color: #3594D4;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

#w3-buttons a {
    text-decoration: none;
    padding-left: 15px;
    padding-right: 0px;
    font-size: 16px;
    color: white;
    display: block;
    height: 50px;
}

#w3-buttons a:hover{
    background-color: rgba(0,0,0,0.1);
}

#social-media a{
    text-decoration: none;
    padding-left: 15px;
    padding-right: 0px;
    font-size: 16px;
    color: white;
    display: block;

    height: 50px;
}

#social-media a:hover{
    color: rgba(0,0,0,0.1);
}

.sidenav .closebtn {
    position: absolute;
    border-bottom-color: white;
    top: 10px;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
      padding: 0px;
      margin: 0;
    }
  .sidenav a {
      font-size: 18px;
      padding: 0px;
      margin: 0;
    }
}




/* Multiple Pages (Index/Map Forms) - Drop down Menus*/
.dropdown-list {
    overflow: auto;
    max-height: 200px;
    height: 200px;
}

.dropdown {
    position: relative;
    list-style-type: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


/* Multiple Pages - Footer */
.my-new-footer{
    background-color: #0c2864;
    list-style-type: none;
    color: white;
    font-size: 12px;
    margin-top: 100px;
    bottom: 0;
    width: 100%;
}

.my-new-footer a{
    color: white;
}

#bly_img{
	height: 80px;
    width: 180px;
}


/* index.html */
#primary{
    position: relative;
    margin-top: 65px;
    margin: 0;
    margin-bottom: -70px;
}

#my-carousel{
    height:470px;
    max-height:560px;
    overflow: hidden;
}

#scrollpage{
    margin-top: -10px;
    width: 100%;
    display: inline-block;
    height: 50px;
    text-align: center;
}

#scrollbtn{
    height: 50px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

/*#secondary{
    margin-left: 120px;
    width: 1000px;
    margin-top: -40px;
    height: 800px;
}

#traffic-div{
    margin-top: 50px;
    height: 300px;
    display: block;
    margin-bottom: 10px;
}

#roadwatch-div{
    height: 300px;
    display: block;
    margin-bottom: 10px;
}*/

.my-index-information{
	margin-top: 50px;
	margin-left: 20px;
	margin-bottom: -20px;
}

/* Display result*/

.output{
  list-style: none;
  padding: 0;
  font: normal 16px/22px;
  font-family: London-Tube;
  color: #999;
}

li.passed {
  margin-left: 100px;
  overflow: hidden;
  position: relative;
  padding: 0 0 10px 35px;
  }

li.passed::before {
    content: '';
    position: absolute;
    left: 9px;
    top: 9px;
    width: 20px;
    height: 999px;
    border: 2px solid #3594D4;
    border-width: 2px 0 0 2px;
    }
    li.passed:last-child::before {
      border-width: 2px 0 0;
      }
  li.passed::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    background: #fff;
    border: 2px solid #3594D4;
    border-radius: 50%;
    }
  li.passed {
    color: #000;
    }
    li.passed::before,
    li.passed::after {
      border-color: #3594D4;
      }


/* index.html - Form */
.my-index-form{
	margin-top: 85px;
	margin-bottom: 20px;
}

/*#form-holder{
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    margin-bottom: 10px;
    height: 130px;
    width: 100%;
    bottom: 0;
}*/

/*#form-input{
    margin-left: 50px;
    margin-top: 40px;
}*/

.form-control{
    height: 45px;
}

/*#find-Journey{
    color: white;
    font-size: 14px;
    height: 45px;
    width: 250px;
    background-color: #0c2864;
    font-weight: bold;
}*/

/*#find-Journey:hover {
    background-color: #0c2850; /* Green */
    color: white;
}*/

/* map.html */
.my-timetable{
    margin-top: 100px;
}

/* connections.html */
.my-connections{
    margin-top: 65px;
}

.my-connection-information{
    margin-left: 40px;    
}


/* tickets_fares.html */
.my-tickets{
    margin-top: 65px;
}

.my-ticket-choices{
    margin-left: 40px; 
    margin-right: 40px;
    margin-bottom: 20px;
}

.my-ticket-choices-heading{
    margin-left: 40px;   
}




/* pointsOfInterest.html */
.my-twitter-feed{
    margin: 10px;
    max-height: 300px;
    
}

.my-twitter-content{
    padding-bottom: 150px;
    border: solid black 1px;
    text-align: center;
    margin-bottom: 30px;
}

.my-sidebar-left{
    margin-top: 20px;    
}

.my-sidebar-center{
    margin-top: 20px;
}

.my-sidebar-right{
    margin-top: 20px;
    float: right;
}




/* contact.html */
.my-contact{
    margin-top: 65px;
}

.my-contact-information{ 
	margin-top: 100px;
	margin-bottom: 20px;
}

.my-profile{
    padding: 15px;
}

/* Tourism page */
#map_tourism{
    height: 400px;
    width: 100%;
}


/* map.html */
#map{
    height: 400px;
    width: 100%;
}

.my-map-div{
    margin-top: 50px;
}

.my-result{
    margin-bottom: 50px;
    margin-top: 10px;
}

.show-details-result{
	display: inline;
}

#journeyPrice1{
	text-align: left;
}
#journeyPrice2{
	text-align: left;
}

h6{
	letter-spacing:1px;
	font-size:14px;
	font-family: London-Tube;
	color: #232943;
	font-weight: bold;
}

.resultHeadings{
	text-align: left;
}

h5{
	font-size:12px;
	font-weight: bold;
	font-family: 'London-Tube';
}

.my-individual-result{
	text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 20px;
}
.show-details-result{
	margin-top: 10px;
	text-align: left;
	}


.my-changed-journey{
    padding: 10px;
    width: 100%;
}

